/*All the styling for our website goes here. */
/*The body element includes every element displayed on your page. */
/*_______________________________________*/
body {
  margin: 0px; 
  padding: 0px;
  background-color: #333;  
  
  /*Text in the body element will default to this unless otherwise specified. */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;        
}

/*HEADER*/
/*The header element runs along the top of our page.*/
/*_______________________________________*/
header {
  width: 96%;
  margin: 0px;
  padding: 2%;  
  background-color: #E0DDCF;        
}
header h1 {
  margin: 0px;
  padding: 0px;
  
  /*Text stylings*/
  color: #333;
  font-family: 'Vibes', cursive;
  font-size: 36px;
}

/*ASIDE*/
/*The aside includes our navigation links.*/
/*_______________________________________*/
aside {
  float: right; /*Setting the float property to "right" positions this element to the right.*/
  
  margin-top: -24px; 
  margin-right: 5%;
  margin-bottom: 12px;
  margin-left: 5%;
  
  padding: 4px;        
  width: 35%;  
  background-color: #3C7A89;
  box-shadow: 4px 4px #333;
  border-radius: 18px;

  text-align: center;  
}
aside a {
  display: block; 
  padding: 4px;
  margin: 4px;
  color: #ccc;
}

/*SECTIONS*/
/*Our website includes two sections: the bio/intro and projects.*/
/*_______________________________________*/
section {
  width:96%;
  margin: 0px;
  padding: 2%;
  color: #ccc;
}                
section h1 {
  padding: 0px; 
  margin: 0px;
  margin-top: 12px;

  /*Text stylings*/
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 36px;
}
section a {
  color: #333;
  text-decoration: none;  
}

/*INTRO SECTION*/
/*Stylings specific to the intro section.*/
/*_______________________________________*/
#intro {
  
  background-color: #474448;
}

#intro li {
  padding-bottom: 6px;  
}
#intro a {
  color: white;
  display: block;
  text-decoration: underline;
}

/*PROJECT SECTION and PROJECTS*/
/*The projects element styles the whole projects section.*/
#projects {
  background-color: #2E4756;
  float: left;
}

/*The project elements style each individual project.*/
.project {          
  width: 40%;
  height: 200px;
  padding: 4%;
  margin: 1%;        
  overflow: hidden; 
  float: left;
  
  border-radius: 15px;
  background-color: rgba(200, 200, 200, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /*This styles the cursor when hovering over this element.*/
  cursor: pointer;        
}      
/*This changes the elements transparency when hovered over by a mouse.*/
.project:hover {
  opacity: 0.8;
}
/*This styles all "h2" elements within our project elements. */
.project h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin: 0px; padding: 0px;

}
/*This styles all images inside our project elements.*/
.project img {
  width: 50%;         
  float: right;
  border-radius: 15px;
  margin-left: 14px;
}  

/*FOOTER*/
/*The footer element borders the site's bottom.*/
footer {        
  text-align: right;
  float: left;
  background-color: #0E1116;
  color: #eee;
  
  width: 96%;
  margin: 0px;  
  padding: 2%;  
}